/*Choose a cool Font Text Scheme*/

h1{
  font-family: 'Permanent Marker';
  /* font-family: 'Pangolin'; */
  text-align: center;
}

/*Choose a color palette from here:
https://coolors.co/
or create your own here:
paletton.com/*/

/*
I chose:

#000505
#a7abb4
#fbfbff
#246eb9
#90a959

*/

.art{
  margin: auto;
}


td{
  height: 200px;
  padding: 100px;
  border: 6px solid white;
}

#one{
  background-color: #000505;
}

#two{
  background-color: #a7abb4;
}

#three{
  background-color: #fbfbff;
}

#four{
  background-color: #246eb9;
}

#five{
  background-color: #90a959;
}
